:root {
  background-color: #212121;
  color: #fafafa;

  font-family: Arial, Helvetica, sans-serif;
}

body {
  padding: 10px;
}

* {
  padding: 0;
  margin: 0;
  font-size: 14px;
}

table {
  user-select: none;
}

button {
  background-color: #626262;
  padding: 2px 5px;
  color: #fafafa;
  border: none;
  outline: 1px solid #af7d85;
  border-radius: 6px;
  cursor: pointer;
}

button:hover {  
  background-color: #838383;
}
